# ── NPM Registry ─────────────────────────────────────
NPM_REPOSITORY=
NPM_TOKEN_READONLY=

# ── API Proxy ────────────────────────────────────────
NUXT_PROXY_TARGET=https://bm.bora.dopa.go.th

# ── Runtime Config (public) ──────────────────────────
NUXT_APP_VERSION=1.0.0
NUXT_APP_SYSTEM_NAME=
NUXT_APP_PROGRAM_NAME=
